<div class="container">
        <div class="form">
            <form class="login-form" >
                <div class="imgcontainer">
                    <span onclick="document.getElementById('modal-wrapper').style.display='none'" class="close" title="Close PopUp">&times;</span>
                </div>
                <input type="text" placeholder="username" [(ngModel)]='credentials.mail' name="username" />
                <input type="password" placeholder="password" [(ngModel)]='credentials.password' name="password" />
                <button (click) = 'login()'>Login</button>
                <p class="message">Not registered?
                    <a href="#">Create an account</a>
                </p>
            </form>
        </div>
</div>
