<div class="top-div">
    <h3>QUẢN LÝ THỰC TẬP VNU</h3>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-2">
            <div class="c1">
                <img [src]="STUDENT_LOGO" alt="" width="360" height="360" class="image" />
                <div class="overlay">
                    <button class="bttt">Sinh viên</button>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="c2">
                <img [src]="LECTURER_LOGO" alt="" width="360" height="360" class="image" />
                <div class="overlay">
                    <button class="bttt">
                        Giảng viên</button>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="c3">
                <img [src]="ENTERPRISE_LOGO" alt="" width="360" height="360" class="image" />
                <div class="overlay">
                    <button class="bttt">
                        Doanh nghiệp</button>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
<footer class="footer">
    <div class="ft">
        <div>
            <i class="material-icons" style="font-size:4vh;color:#fff">Contact us</i>
        </div>
        <i class="fa fa-facebook-square" style="font-size:6vh;color:#5c91d6"></i>
        <i class="fa fa-google-plus" style="font-size:6vh;color:#5c91d6"></i>
        <i class="fa fa-reddit-square" style="font-size:6vh;color:#5c91d6"></i>
        <i class="fa fa-twitter-square" style="font-size:6vh;color:#5c91d6"></i>
    </div>
</footer>
<app-login class="modal" id="modal-wrapper"></app-login>
<script type="text/javascript">
    var modal = document.getElementById('modal-wrapper');
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>